
<div class="=container ms-3 my-5"><h1>Form</h1></div>
<div class="container justify-center"> 
    <form method="post" action="/form/signup"">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        type="email"
        name="username"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
      <div id="emailHelp" class="form-text">Email adress</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        name="password" 
        class="form-control" 
        id="exampleInputPassword1" 
      />
      <div id="emailHelp" class="form-text"></div><div id="emailHelp" class="form-text">Password</div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>